<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/admin/css/pearCommon.css"/>
    <link rel="stylesheet" href="/component/layui/css/layui.css"/>
    <link href="/admin/css/hydra.css" rel="stylesheet"/>
</head>
<body class="pear-container">
<div class="layui-card">
    <div class="layui-card-body">
        <form class="layui-form" action="">
            <div class="layui-form-item">
                <label class="layui-form-label">权限名称</label>
                <div class="layui-input-inline">
                    <input type="text" name="realName" placeholder="" class="layui-input">
                </div>
                <label class="layui-form-label">权限标识</label>
                <div class="layui-input-inline">
                    <input type="text" name="username" placeholder="" class="layui-input">
                </div>
                <button class="pear-btn pear-btn-md pear-btn-primary" lay-submit lay-filter="user-query">
                    <i class="layui-icon layui-icon-search"></i>
                    查询
                </button>
                <button type="reset" class="pear-btn pear-btn-md">
                    <i class="layui-icon layui-icon-refresh"></i>
                    重置
                </button>
            </div>
        </form>
    </div>
</div>
<div class="layui-row layui-col-space14">
    <div class="layui-col-md6">
        <div class="layui-card" id="testTree">
        </div>
    </div>
    <div class="layui-col-md6">
        <div class="layui-card">
            <form class="layui-form" lay-filter="menuForm">
                <div class="layui-card-body">
                    <input type="hidden" name="menuId">
                    <div class="layui-form-item">
                        <label class="layui-form-label">上级ID</label>
                        <div class="layui-input-block">
                            <select name="city" lay-verify="title" lay-search id="pid">
                                <option value="0" selected></option>
                                <option th:each="item : ${list}" th:value="${item.getId()}"
                                        th:text="${item.menuName}"></option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">菜单名</label>
                        <div class="layui-input-block">
                            <input type="text" name="menuName" lay-verify="title"
                                   autocomplete="off" placeholder="请输入菜单名" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">菜单URL</label>
                        <div class="layui-input-block">
                            <input type="text" name="url" lay-verify="title"
                                   autocomplete="off" placeholder="请输入菜单URL" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">权限</label>
                        <div class="layui-input-block">
                            <select lay-verify="title" lay-search id="permissionCode" name="permissionCode">
                                <option value="" selected></option>
                                <option value="CODER">CODER</option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">角色</label>
                        <div class="layui-input-block">
                            <select lay-verify="title" lay-search id="role" name="roleId">
                                <option value="" selected></option>
                                <option th:each="item:${roles}" th:value="${item.id}" th:text="${item.roleName}"></option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">排序</label>
                        <div class="layui-input-block">
                            <input type="text" name="sort" lay-verify="title" autocomplete="off"
                                   placeholder="请输入排序编号" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item" lay-filter="typeSelect">
                        <div class="layui-form-label">类型</div>
                        <div class="layui-input-block">
                            <select name="type">
                                <option value="0">目录</option>
                                <option value="1">菜单</option>
                                <option value="2">按钮</option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-form-item">
                            <label for="" class="layui-form-label">菜单图标</label>
                            <div class="layui-input-block">
                                <input type="text" id="iconPicker" name="icon" lay-filter="iconPicker" class="hide">
                            </div>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <div class="layui-btn" lay-submit lay-filter="permission-save">立即提交</div>
                            <button class="layui-btn layui-btn-primary" lay-submit lay-filter="permission-reset">重置
                            </button>
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </div>

</div>

</body>

<script src="/component/layui/layui.js"></script>
<script>
    var currentData = {
        "title": '',
        "id": '',
        "pid": '',
        "icon": "",
        "href": "",
        "type": 0
    };
    layui.use(['table', 'form', 'jquery', 'tree', 'hydra', 'iconPicker'], function () {
        let form = layui.form;
        var $ = layui.jquery;
        var tree = layui.tree;
        var iconPicker = layui.iconPicker;
        var hydra = layui.hydra;

        window.render = function () {
            hydra.get('http://localhost:7000/menu/permission', '', function (res) {
                tree.render({
                    elem: '#testTree'
                    , data: res.data
                    , showCheckbox: true  //是否显示复选框
                    , id: 'demoId1'
                    // , isJump: true //是否允许点击节点时弹出新窗口跳转
                    , click: function (obj) {
                        var data = obj.data;  //获取当前点击的节点数据
                        currentData = data;
                        //选中图标
                        iconPicker.checkIcon('iconPicker', data.icon);
                        //选中pid
                        $("#pid option[value=" + data.pid + "]").prop("selected", true)
                        //选中角色
                        $("#role option[value=" + data.roleId + "]").prop("selected", true)
                        //选中权限
                        $("#permissionCode option[value=" + data.permissionCode + "]").prop("selected", true)
                        console.log(data.roleId)
                        console.log(data.permissionCode)
                        form.val("menuForm", { //formTest 即 class="layui-form" 所在元素属性 lay-filter="" 对应的值
                            "pid": data.pid
                            , "menuName": data.title // "name": "value"
                            , "url": data.href
                            , "permissionCode": data.permissionCode
                            , "roleId": data.roleId
                            , "sort": data.sort
                            , "type": data.type
                            , "menuId": data.id
                            , "icon": data.icon
                            , "role": data.icon
                        });
                        // layer.msg('状态：' + obj.state + '<br>节点数据：' + JSON.stringify(data));
                    }
                })
            })
        }
        window.render();

        window.remove = function (obj) {
            layer.confirm('确定要删除该权限', {icon: 3, title: '提示'}, function (index) {
                layer.close(index);
                var loading = layer.load();
                $.ajax({
                    url: MODULE_PATH + "remove/" + obj.data['powerId'],
                    dataType: 'json',
                    type: 'delete',
                    success: function (result) {
                        layer.close(loading);
                        if (result.success) {
                            layer.msg(result.msg, {icon: 1, time: 1000}, function () {
                                obj.del();
                            });
                        } else {
                            layer.msg(result.msg, {icon: 2, time: 1000});
                        }
                    }
                })
            });
        }


        //表单保存
        form.on('submit(permission-save)', function (data) {
            data.field.id = data.field.menuId;
            console.log(JSON.stringify(data))
            var ac = {
                'field': {
                    "menuName": data.field.title,
                    "id": data.field.id,
                    "parentId": data.field.pid,
                    "icon": data.field.icon,
                    "sort": data.field.sort,
                    "url": data.field.url,
                    "type": data.field.type
                }
            };
            hydra.update('/menu/addOrUpdate', ac, parent);
            window.render();
            return false;
        });
        //表单重置
        form.on('submit(permission-reset)', function (data) {
            console.log(JSON.stringify(currentData))
            form.val("menuForm", { //formTest 即 class="layui-form" 所在元素属性 lay-filter="" 对应的值
                "pid": currentData.pid
                , "menuName": currentData.title // "name": "value"
                , "url": currentData.href
                , "sort": currentData.sort
                , "type": currentData.type
            });
            return false;
        });

        iconPicker.render({
            // 选择器，推荐使用input
            elem: '#iconPicker',
            // 数据类型：fontClass/unicode，推荐使用fontClass
            type: 'fontClass',
            // 是否开启搜索：true/false，默认true
            search: true,
            // 是否开启分页：true/false，默认true
            page: true,
            // 每页显示数量，默认12
            limit: 12,
            // 点击回调
            click: function (data) {
                console.log(data);
            },
            // 渲染成功后的回调
            success: function (d) {
                console.log(d);
            }
        });


        function parseTree(tree, list) {
            for (let i = 0; i < tree.length; i++) {
                let childList = tree[i].children;
                if (childList && childList.length > 0) {
                    list.push(tree[i])
                    parseTree(childList, list);
                }
            }
        }
    })
</script>
</html>