<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/admin/css/pearCommon.css"/>
    <link rel="stylesheet" href="/component/layui/css/layui.css"/>
    <link href="/admin/css/hydra.css" rel="stylesheet"/>
</head>
<body class="pear-container">
<div class="layui-card">
    <div class="layui-card-body">
        <form class="layui-form" action="">
            <div class="layui-form-item">
                <label class="layui-form-label">权限名称</label>
                <div class="layui-input-inline">
                    <input type="text" name="realName" placeholder="" class="layui-input">
                </div>
                <label class="layui-form-label">权限标识</label>
                <div class="layui-input-inline">
                    <input type="text" name="username" placeholder="" class="layui-input">
                </div>
                <button class="pear-btn pear-btn-md pear-btn-primary" lay-submit lay-filter="user-query">
                    <i class="layui-icon layui-icon-search"></i>
                    查询
                </button>
                <button type="reset" class="pear-btn pear-btn-md">
                    <i class="layui-icon layui-icon-refresh"></i>
                    重置
                </button>
            </div>
        </form>
    </div>
</div>
<div class="layui-row layui-col-space14">
    <div class="layui-col-md6">
        <div class="layui-card" id="testTree">
            <!--            <div class="layui-card-header">卡片面板</div>
                        <div class="layui-card-body">
                            卡片式面板面板通常用于非白色背景色的主体内<br>
                            从而映衬出边框投影
                        </div>-->
        </div>
    </div>
    <div class="layui-col-md6">
        <div class="layui-card">
            <!--            <div class="layui-card-header">卡片面板</div>-->
            <form class="layui-form" lay-filter="menuForm">
                <div class="layui-card-body">
                    <div class="layui-form-item">
                        <input type="hidden" name="menuId">
                        <label class="layui-form-label">上级ID</label>
                        <div class="layui-input-block">
                            <input type="text" name="pid" lay-verify="title" autocomplete="off"
                                   placeholder="请输入菜单名" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">菜单名</label>
                        <div class="layui-input-block">
                            <input type="text" name="menuName" lay-verify="title"
                                   autocomplete="off" placeholder="请输入菜单名" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">菜单URL</label>
                        <div class="layui-input-block">
                            <input type="text" name="url" lay-verify="title"
                                   autocomplete="off" placeholder="请输入菜单URL" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">排序</label>
                        <div class="layui-input-block">
                            <input type="text" name="sort" lay-verify="title" autocomplete="off"
                                   placeholder="请输入排序编号" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-form-item" lay-filter="typeSelect">
                        <div class="layui-form-label">类型</div>
                        <div class="layui-input-block">
                            <select name="type">
                                <option value="0">目录</option>
                                <option value="1">菜单</option>
                                <option value="2">按钮</option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">菜单图标</label>
                        <div class="layui-input-block">
                            <input type="text" name="icon" autocomplete="off"
                                   placeholder="请输入菜单图标" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <div class="layui-btn" lay-submit lay-filter="permission-save">立即提交</div>
                            <button class="layui-btn layui-btn-primary" lay-submit lay-filter="permission-reset">重置
                            </button>
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </div>

</div>

<script type="text/html" id="power-toolbar">
    <button class="pear-btn pear-btn-primary pear-btn-md" lay-event="add">
        <i class="layui-icon layui-icon-add-1"></i>
        新增
    </button>
    <button class="pear-btn pear-btn-danger pear-btn-md" lay-event="batchRemove">
        <i class="layui-icon layui-icon-delete"></i>
        删除
    </button>
</script>

<script type="text/html" id="power-bar">
    <button class="pear-btn pear-btn-primary pear-btn-sm" lay-event="edit"><i class="layui-icon layui-icon-edit"></i>
    </button>
    <button class="pear-btn pear-btn-danger pear-btn-sm" lay-event="remove"><i class="layui-icon layui-icon-delete"></i>
    </button>
</script>

<script type="text/html" id="power-type">
    {{#
    var status = {
    0: {title: '目录', color: 'green'},
    1: {title: '菜单', color: 'volcano'},
    2: {title: '按钮', color: 'volcano'}
    }[d.type];
    }}
    <span class="layui-badge hydra-tag-{{status.color}}">{{ status.title }}</span>
</script>

<script type="text/html" id="power-enable">
    <input type="checkbox" name="enable" value="{{d.id}}" lay-skin="switch" lay-text="启用|禁用" lay-filter="user-enable"
           checked="{{ d.id == 10003 ? 'true' : 'false' }}">
</script>

<script type="text/html" id="icon">
    <i class="layui-icon {{d.icon}}"></i>
</script>

</body>

<script src="/component/layui/layui.js"></script>
<script>
    var currentData = {
        "title": '',
        "id": '',
        "pid": '',
        "icon": "",
        "href": "",
        "type": 0
    };
    layui.use(['table', 'form', 'jquery', 'treetable', 'tree', 'hydra'], function () {
        let table = layui.table;
        let form = layui.form;
        var tree = layui.tree;
        var hydra = layui.hydra;
        window.render = function(){
            hydra.get('http://localhost:7000/menu/menuTree', '', function (res) {
                tree.render({
                    elem: '#testTree'
                    , data: res.data
                    , showCheckbox: true  //是否显示复选框
                    , id: 'demoId1'
                    // , isJump: true //是否允许点击节点时弹出新窗口跳转
                    , click: function (obj) {
                        var data = obj.data;  //获取当前点击的节点数据
                        currentData = data;
                        form.val("menuForm", { //formTest 即 class="layui-form" 所在元素属性 lay-filter="" 对应的值
                            "pid": data.pid
                            , "menuName": data.title // "name": "value"
                            , "url": data.href
                            , "sort": data.sort
                            , "type": data.type
                            , "menuId": data.id
                            // ,"check[write]": true
                            // ,"open": false
                            // ,"desc": "我爱layui"
                        });
                        // layer.msg('状态：' + obj.state + '<br>节点数据：' + JSON.stringify(data));
                    }
                })
            })
        }
        window.render();

        table.on('tool(permission-table)', function (obj) {
            if (obj.event === 'remove') {
                window.remove(obj);
            } else if (obj.event === 'edit') {
                window.edit(obj);
            }
        })


        table.on('toolbar(permission-table)', function (obj) {
            if (obj.event === 'add') {
                window.add();
            } else if (obj.event === 'refresh') {
                window.refresh();
            } else if (obj.event === 'batchRemove') {
                window.batchRemove(obj);
            }
        });

        window.add = function () {
            layer.open({
                type: 2,
                title: '新增',
                shade: 0.1,
                area: ['450px', '500px'],
                content: MODULE_PATH + 'add.html'
            });
        }

        window.edit = function (obj) {
            layer.open({
                type: 2,
                title: '修改',
                shade: 0.1,
                area: ['450px', '500px'],
                content: '/view/permission/' + obj.data.id
            });
        }

        window.remove = function (obj) {
            layer.confirm('确定要删除该权限', {icon: 3, title: '提示'}, function (index) {
                layer.close(index);
                var loading = layer.load();
                $.ajax({
                    url: MODULE_PATH + "remove/" + obj.data['powerId'],
                    dataType: 'json',
                    type: 'delete',
                    success: function (result) {
                        layer.close(loading);
                        if (result.success) {
                            layer.msg(result.msg, {icon: 1, time: 1000}, function () {
                                obj.del();
                            });
                        } else {
                            layer.msg(result.msg, {icon: 2, time: 1000});
                        }
                    }
                })
            });
        }




        form.on('submit(permission-save)', function (data) {
            data.field.id = data.field.menuId;
          var ac =  {'field':{
                "menuName": data.field.title,
                    "id": data.field.id,
                    "parentId": data.field.pid,
                    "icon": data.field.icon,
                    "sort": data.field.sort,
                    "url": data.field.href,
                    "type": data.field.type
            }};
            hydra.update('/menu/addOrUpdate',ac,parent);
            window.render();
            return false;
        });

        form.on('submit(permission-reset)', function (data) {
            console.log(JSON.stringify(currentData))
            form.val("menuForm", { //formTest 即 class="layui-form" 所在元素属性 lay-filter="" 对应的值
                "pid": currentData.pid
                , "menuName": currentData.title // "name": "value"
                , "url": currentData.href
                , "sort": currentData.sort
                , "type": currentData.type
            });
            return false;
        });
    })
</script>
</html>