<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ratel.hydra.system.mapper.MenuMapper">
  <resultMap id="BaseResultMap" type="com.ratel.hydra.system.po.Menu">
    <!--@mbg.generated-->
    <!--@Table menu-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="role_id" jdbcType="BIGINT" property="roleId" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="icon" jdbcType="VARCHAR" property="icon" />
    <result column="parent_id" jdbcType="BIGINT" property="parentId" />
    <result column="relation_code" jdbcType="VARCHAR" property="relationCode" />
    <result column="menu_name" jdbcType="VARCHAR" property="menuName" />
    <result column="sort" jdbcType="INTEGER" property="sort" />
    <result column="type" jdbcType="TINYINT" property="type" />
    <result column="creator" jdbcType="BIGINT" property="creator" />
    <result column="modifier" jdbcType="BIGINT" property="modifier" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, role_id, url, icon, parent_id, relation_code, menu_name, sort, `type`, creator, 
    modifier, create_time, modify_time
  </sql>
    <select id="findCurrentUserMenu" resultMap="BaseResultMap">
     select t3.* from user t inner join user_role_relation t2 on t.id = t2.user_id inner join menu t3 on t2.role_id = t3.role_id where user_id = #{userId,jdbcType=BIGINT} order by parent_id;
    </select>
</mapper>