<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<link rel="stylesheet" href="admin/css/pearForm.css" />
		<link rel="stylesheet" href="component/layui/css/layui.css" />
		<link rel="stylesheet" href="admin/css/pearButton.css" />
		<link rel="stylesheet" href="/assets/login.css" />
	</head>
	<body background="admin/images/background.svg">
	    <form class="layui-form" action="javascript:void(0);" >
			<div class="layui-form-item">
				<img class="logo" src="admin/images/logo.png" />
				<div class="title">Pear Admin</div>
				<div class="desc">
					高 新 区 最 具 影 响 力 的 设 计 规 范 之 一
				</div>
			</div>
            <div class="layui-form-item">
				<input type="text" name="username" placeholder="账 户 : 123" hover class="layui-input" value="123" autocomplete="off"/>
			</div>
			<div class="layui-form-item">
				<input type="password" name="password" placeholder="密 码 : 123" hover class="layui-input" value="123" autocomplete="off"/>
			</div>
			<div class="layui-form-item">
				<input type="text" name="captcha" placeholder="验证码" hover class="layui-input layui-input-inline" style="width: 50%;display: inline-block!important;"/>
				<img src="image/captcha" onclick="this.src += '?' + new Date()" style="border-radius:3px;border: 1px #e6e6e6 solid;height: 100%;width: 45%;display: inline-block!important;height: 42px;" />
			</div>
			<div class="layui-form-item">
				<input type="checkbox" name="" title="记住密码" lay-skin="primary" checked>
			</div>
            <div class="layui-form-item">
				<button class="pear-btn pear-btn-primary login" lay-submit lay-filter="loginBtn">
					登 入
				</button>
			</div>
		</form>
		<script src="component/layui/layui.js"></script>
		<!--<script src="/config.js"></script>-->
		<script>
			layui.use(['form', 'element','jquery','hydra'], function() {
				var form = layui.form;
				var element = layui.element;
				var $ = layui.jquery;
				var hydra = layui.hydra;

				form.on('submit(loginBtn)',function(data){
					console.log(JSON.stringify(data.field))
					hydra.post('/user/login',JSON.stringify(data.field),function (res) {
						location.href = res.data;
					})
					return false;
				})

				// $("body").on("click",".login",function(){
				// 	hydra.post()
				// 	// location.href="index.html"
				// })
			})
		</script>
	</body>
</html>
